

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;

}
body{
  background: linear-gradient(90deg,#013369,#D50A0A);
  
}

input[type="text"]{
  width:100vw;
  border:2px solid #aaa;
  margin: 8px 0;
  border-radius: 4px;
  outline:none;
  padding:10px;
}

input[type="text"]:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0  dodgerblue;
  transition: .3s
}
